<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Lastname</th>
      <th scope="col">City</th>
      <th scope="col"><i class="fa-solid fa-phone"></i></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ user.name }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.city }}</td>
      <td>{{ user.phoneNumber }}</td>
      <td>
        <button
          type="button"
          class="btn btn-sm mx-1"
          (click)="onDeleteUser(user)"
        >
          <i class="fa-solid fa-trash"></i>
        </button>
        <button
          type="button"
          class="btn btn-sm mx-1"
          (click)="infoContact(user)"
        >
          <i class="fa-solid fa-info"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
